{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block menu %}
<li xmlns="http://www.w3.org/1999/html"><a title="search" href="/search">Free Search</a></li>
<li xmlns="http://www.w3.org/1999/html"><a title="training" href="/train">Training</a></li>
<li xmlns="http://www.w3.org/1999/html"><a title="ettings" href="/settings">Settings</a></li>
<li><a title="logout" href="/logout">Logout</a></li>
{%  endblock%}


{% block extra_header %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#table').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "aaSorting" : [[6, 'asc']],
            "aaData": [
                {% for query in content %}
                    ["<a href=\"queries/{{ query.id }}\">{{ query.Name }}</a>", "{{ query.Keywords }}", "{{ query.Usernames }}","{{ query.Created_by }}", "{{ query.From }}", "{{ query.To }}", "{{ query.Created }}"],
                {% endfor %}

            ],
            "aoColumns": [
                {% for header in headers %}
                    { "sTitle": "{{header}}" },
                {% endfor %}
            ]
        });
    });
</script>

{% endblock %}

{% block body %}
<div class="row">
    <div class="container">
        <div class="span12">
            <a href="/create_query" class="btn btn-alt pull-right"><i class="fa fa-edit"></i> Create query</a>
        </div>
    </div>
</div>
</div>
<div class="row">
<!-- Responsive table -->
<div class="container">
    <!-- Four columns -->
    <h2 class="brand pull-left">Your Queries</h2>
    <hr width="100%">
    <div class="row">
        <table id="table">
            <thead class="nav"><!--tr>
                        <th class="sorttable_sorted_reverse">Name<span id="sorttable_sortrevind">&nbsp;?</span></th>
                        <th class="">Query</th>
                        <th class="">Accounts</th>
                        <th class="">Keywords</th>
                        <th class="">Materials</th>
                        <th class="">Companies</th>
                        <th class="">From</th>
                        <th class="">To</th>
                        <th class="">Created</th>

                    </tr-->
            </thead>
            <tbody>
            <!--tr>
                <td sorttable_customkey="1"><a href="">Spanish Sofas</a></td>
                <td>Sofas Spain</td>
                <td>Aidima</td>
                <td>leather, red</td>
                <td>metal, leather</td>
                <td>AIDIMA, IKEA</td>
                <td>22/3/2012</td>
                <td>01/01/2013</td>
                <td>3/3/2013</td>
            </tr-->
            </tbody>
            <tfoot></tfoot>
        </table>

        <!-- /.table-queries -->
    </div>

    <!-- /.row -->
</div>
<!-- /.container -->
</div>

{% endblock %}